{% extends 'base.html' %}
{% block body_block %}
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <h1 style="margin-left: 110px">{{ users.username|title }}</h1>

            {% if empl_proile %}
            <div class="col-md-4">
                <div><b>Employee log</b></div>
                <div>
                        <br><br><b>Name : </b>{{empl_proile.name}}</b><br>
                        <b>Designation : </b>{{ empl_proile.designation }} - {{ empl_proile.phoneno }}
                        <br>
                    {{ post_file }}
                    {{ url }}
                </div><br>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}